services:
  app:
    container_name: quiz-app-api
    build:
      context: .
      dockerfile: dockerfile
      target: production-stage
    ports:
      - 3000:3000
    env_file:
      - .env
    environment:
      - DB_HOST=postgres_db
    depends_on:
      postgres_db:
        condition: service_healthy

  postgres_db:
    container_name: quiz-app-db
    image: postgres:16-alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    healthcheck:
        test: ['CMD-SHELL', 'pg_isready -U ${DB_USERNAME} -d ${DB_NAME}']
        interval: 5s
        timeout: 5s
        retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
    driver: local